main {
}

.game-div{
  
}

.keyboard-btns{
  padding: 10px;
  margin: 5px;
  background: white;
  border: 2px black solid;
  border-radius: 10px;
}

.keyboard-btns:hover{
  background: #00ff00;
  border: #00ffff;
}

.word_char{
  letter-spacing: 0.5em;
  text-align: center;
}

.hidden{
  display: none;
}
